body {
  color: rgb(255, 255, 255);
}

.home-container {
  margin: 15% auto;
  max-width: 1000px;
}

.heading {
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgb(201, 201, 201);
  backdrop-filter: blur(3px);
}
